<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- offcanvas trigger -->
			<!-- 
            <button class="navbar-toggler me-2" type="button" data-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
			 -->
            <!-- offcanvas trigger end-->

            <a class="navbar-brand fw-bold text-uppercase me-auto" th:href="@{/home}">SCTV - SDH</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" data-target="#offcanvasExample"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="ms-auto text-white">
                    <span th:text = "'Chào ' + ${#request.userPrincipal.principal.username}"></span>
                </div>

                <ul class="navbar-nav mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:if="${#request.userPrincipal != null}" href="javascript: logoutForm.submit()">Thoát</a></li>
                        </ul>
                    </li>

                </ul>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                	<input type="submit" value="logout"/>
                </form>
            </div>
        </div>
    </nav>
    <!-- end navbar -->